.main {
	position: relative;
	height: 50rem;
	z-index: 0;

	.header {
		.headerImg {
			width: 100vw;
			height: 50vh;
			background-position: 50%;
			background-clip: content-box;
			background-size: cover;
		}

		.headerText {
			position: absolute;
			right: 0;
			top: 12%;
			width: 90vw;
			height: auto;
			font-size: 1.2em;
			line-height: 2em;
			z-index: 1;
			background-color: hsla(0, 0%, 100%, 0.98);
			color: #4392f1;
			border-right: 1.5em solid #4392f1;
			padding: 1em;
		}
	}
}

@media only screen and (min-width: 375px) {
	.main {
		.header {
			.headerText {
				width: 60vw;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.main {
		margin-top: 4rem;
		.header {
			width: 100vw;
			background-color: rgb(246, 242, 242);
			.headerImg {
				width: 80vw;
				border-top-right-radius: 10em;
			}

			.headerText {
				top: 20%;
				width: 60vw;
				font-size: 2em;
				border-left: 15px solid #12345c;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 4rem;
		height: auto;

		.header {
			position: relative;
			width: 90vw;
			height: 90%;

			.headerImg {
				width: 70%;
                max-width: 80rem;

			}

			.headerText {
				position: absolute;
                right: 0;
			}
		}
	}
}
