.registerLogin {
	background-color: rgba(#12345c, 0.98);
	color: rgb(248, 243, 243);
	height: 60rem;
	width: 100vw;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: none;

	.container {
		margin-top: 4rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: "Oswald", sans-serif;
			font-weight: bold;

			.titleIcon {
				font-size: 2em;
			}

			.titleName {
				font-size: 2.1em;
				margin-left: 1em;
				color: #4392f1;
				letter-spacing: 0.03em;
			}
		}

		.form {
			margin-top: 1.5rem;

			.loginEmail,
			.loginPassword {
				border-bottom-left-radius: 1.5em;
				border-top-right-radius: 1.5em;
				border-top-left-radius: 0.8em;
				border-bottom-right-radius: 0.8em;
				padding: 1em;
				width: 15rem;
				margin: 0.5rem;
				cursor: pointer;
				border: 2.5px solid #4392f1;
				color: grey;
			}

			.loginEmail::placeholder,
			.loginPassword::placeholder {
				color: rgb(164, 161, 161);
			}
		}

		.loginBtn {
			border: none;
			position: relative;
			padding: 1em;
			margin: 0.5em;
			width: 11rem;
			height: 2.5rem;
			border-bottom-left-radius: 1.5em;
			border-top-right-radius: 1.5em;
			border-top-left-radius: 0.8em;
			border-bottom-right-radius: 0.8em;
			font-family: "Roboto", sans-serif;
			font-size: 1em;
			text-align: center;
			cursor: pointer;
			background-color: #4392f1;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 2rem;
		}

		.openRegister {
			cursor: pointer;
			margin-top: 1em;
			text-decoration: underline;
		}

		.register {
			margin-top: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			display: none;

			.registerForm {
				display: flex;
				flex-direction: column;
				align-items: center;

				.registerEmail,
				.registerPassword {
					border-bottom-left-radius: 1.5em;
					border-top-right-radius: 1.5em;
					border-top-left-radius: 0.8em;
					border-bottom-right-radius: 0.8em;
					padding: 1em;
					width: 15rem;
					margin: 0.5rem;
					cursor: pointer;
					border: 2.5px solid #4392f1;
					color: grey;
				}

				.registerEmail::placeholder,
				.registerPassword::placeholder {
					color: rgb(164, 161, 161);
				}
			}

			.registerBtn {
				border: none;
				position: relative;
				padding: 1em;
				margin: 0.5em;
				width: 11rem;
				height: 2.5rem;
				border-bottom-left-radius: 1.5em;
				border-top-right-radius: 1.5em;
				border-top-left-radius: 0.8em;
				border-bottom-right-radius: 0.8em;
				font-family: "Roboto", sans-serif;
				font-size: 1em;
				text-align: center;
				cursor: pointer;
				background-color: #4392f1;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				margin-top: 2rem;
			}
		}

		.showRegister {
			display: flex;
		}
	}
}

@media only screen and (min-width: 768px) {
	.registerLogin {
		height: 90rem;

		.container {
			.title {
				.titleIcon {
					font-size: 3em;
				}

				.titleName {
					font-size: 3em;
				}
			}

			.form {
				display: flex;
				flex-direction: column;

				.loginEmail,
				.loginPassword {
					border-bottom-left-radius: 1.8em;
					border-top-right-radius: 1.8em;
					font-size: 1.5em;
					width: 25rem;
					border: 3.5px solid #4392f1;
				}
			}

			.loginBtn {
				padding: 1.2em;
				width: 15rem;
				border-bottom-left-radius: 1.8em;
				border-top-right-radius: 1.8em;
				font-size: 1.5em;
			}

			.openRegister {
				font-size: 1.5em;
				margin-bottom: 1rem;
			}
			.register {
				.registerForm {
					.registerEmail,
					.registerPassword {
						border-bottom-left-radius: 1.8em;
						border-top-right-radius: 1.8em;
						font-size: 1.5em;
						width: 25rem;
						border: 3.5px solid #4392f1;
					}
				}

				.registerBtn {
					padding: 1.2em;
					width: 15rem;
					border-bottom-left-radius: 1.8em;
					border-top-right-radius: 1.8em;
					font-size: 1.5em;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.registerLogin {
		height: 90rem;
		width: 100%;

		.container {
			.title {
				.titleIcon {
					font-size: 3em;
				}

				.titleName {
					font-size: 3em;
				}
			}

			.form {
				display: flex;
				flex-direction: column;

				.loginEmail,
				.loginPassword {
					border-bottom-left-radius: 1.8em;
					border-top-right-radius: 1.8em;
					font-size: 1.5em;
					width: 25rem;
					border: 3.5px solid #4392f1;
				}
			}

			.loginBtn {
				padding: 1.2em;
				width: 15rem;
				border-bottom-left-radius: 1.8em;
				border-top-right-radius: 1.8em;
				font-size: 1.5em;
			}

			.openRegister {
				font-size: 1.5em;
				margin-bottom: 1rem;
			}
			.register {
				.registerForm {
					.registerEmail,
					.registerPassword {
						border-bottom-left-radius: 1.8em;
						border-top-right-radius: 1.8em;
						font-size: 1.5em;
						width: 25rem;
						border: 3.5px solid #4392f1;
					}
				}

				.registerBtn {
					padding: 1.2em;
					width: 15rem;
					border-bottom-left-radius: 1.8em;
					border-top-right-radius: 1.8em;
					font-size: 1.5em;
				}
			}
		}
	}
}
