.secondPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	grid-template-columns: repeat(2, 1fr);
	width: 100vw;
	display: none;

	.form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 2rem;

		.options {
			.optionOrigin,
			.optionDestination,
			.optionPassengers,
			.optionLuggage,
			input[type="date"] {
				border: none;
				padding: 1em;
				margin: 0.5em;
				width: 11.4rem;
				color: grey;
				border: none;
				height: 2.5rem;
				font-family: "Roboto", sans-serif;
				font-size: 1em;
				text-align: center;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;

				.fa-solid {
					font-size: 1em;
					padding-right: 0.5em;
				}

				.secondOriginTitle,
				.secondDestinationTitle,
				.secondPassengersTitle,
				.secondLuggageTitle {
					font-size: 1em;
				}

				.dropdown {
					position: absolute;
					width: 11rem;
					box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
					border-radius: 0.8em;
					background: white;
					visibility: hidden;
					transition: all 0.1s ease-in-out;
					z-index: 100;
					top: 0;
					transform: translateY(0);

					.liItem {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 0.8rem 1rem;
						text-decoration: none;
						color: black;
					}
				}

				.show {
					visibility: visible;
					transform: translateY(3rem);
				}

				.dropdownLuggage {
					transform: translateY(15rem);
				}

				.dropdownPassengers {
					display: flex;
					flex-direction: column;
					padding: 0.8rem 1rem;

					.passengerContainer {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 0.5em;

						.passengerDesc {
							font-size: 0.7em;
							color: grey;
							padding-top: 0.4em;
						}

						.passengerSelect {
							width: 30%;
							height: 2rem;
						}
					}

					.belowContainer {
						display: flex;
						align-items: center;
						flex-direction: column;

						.confirmBtn {
							display: flex;
							align-items: center;
							justify-content: center;
							border: none;
							position: relative;
							padding: 1em;
							margin: 0.5em;
							width: 11rem;
							height: 2.5rem;
							border-bottom-left-radius: 1.5em;
							border-top-right-radius: 1.5em;
							border-top-left-radius: 0.8em;
							border-bottom-right-radius: 0.8em;
							font-family: "Roboto", sans-serif;
							font-size: 1em;
							cursor: pointer;

							background-color: #4392f1;
							color: #fff;
						}

						.passengerNote {
							width: 100%;
							display: flex;
							align-items: center;

							.fa-circle-info {
								color: #4392f1;
								padding: 0.5em;
							}
						}

						.countContainer {
							.passengerCount,
							.babyInfo {
								font-size: 0.7em;
								color: grey;
								padding-top: 0.4em;
								padding: 0.5em;
							}
						}
					}
				}
			}
		}
	}

	.summary {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
		padding: 2.5em;
		margin-top: 3rem;
		width: 100%;
		color: #12345c;
		margin: 0 auto;
		text-align: center;

		.title {
			font-weight: bold;
			border-bottom: 1px solid #999;
			padding: 0.5em 1em;
			margin-bottom: 1rem;
		}

		.agentId,
		.price {
			padding: 0.2em;
		}

		.agentId {
			cursor: pointer;
			text-decoration: none;
			color: grey;
		}
	}

	.confirmBtn {
		border: none;
		position: relative;
		padding: 1em;
		margin: 0.5em;
		width: 11rem;
		height: 2.5rem;
		border-bottom-left-radius: 1.5em;
		border-top-right-radius: 1.5em;
		border-top-left-radius: 0.8em;
		border-bottom-right-radius: 0.8em;
		font-family: "Roboto", sans-serif;
		font-size: 1em;
		text-align: center;
		cursor: pointer;
		background-color: #4392f1;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.show {
	display: block;
}

@media only screen and (min-width: 768px) {
	.secondPage {
		.form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 3rem;

			.options {
				display: grid;
				grid-template-columns: repeat(3, 1fr);

				.optionOrigin,
				.optionDestination,
				.optionPassengers,
				.optionLuggage,
				input[type="date"] {
					.dropdown {
						transition: all 0.2s ease-in-out;
						top: 6rem;
					}

					.show {
						transform: translateY(0.5rem);
					}
				}
			}

			.confirmBtn {
				margin-top: 1rem;
			}
		}

		.summary {
			width: 50%;
			font-size: 1em;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.secondPage {
		max-width: 90%;

		.form {
			font-size: 1.2em;

			.confirmBtn {
				margin-top: 2rem;
				font-size: 1.2em;
				padding: 1.2em;
			}
		}

		.summary {
			width: 50%;
			font-size: 1.5em;
		}
	}
}

@media only screen and (min-width: 1300px) {
	.secondPage {
		.form {
			.options {
				display: flex;
				justify-content: center;
				align-items: center;

				.optionOrigin,
				.optionDestination,
				.optionPassengers,
				.optionLuggage,
				input[type="date"] {
					width: 16rem;
				}
			}
		}
	}
}
