@import "./styles/navbar.scss";
@import "./styles/main.scss";
@import "./styles/options_form.scss";
@import "./styles/dropdownPassengers.scss";
@import "./styles/registerLogin.scss";
@import "./styles/second_page.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
}
